[submodule "legal"]
	path = legal
	url = https://github.com/DynartInteractive/docs-legal.git
	branch = main
[submodule "dos-game-engine"]
	path = dos-game-engine
	url = https://github.com/DynartInteractive/docs-dos-game-engine.git
	branch = main
[submodule "lisa-engine"]
	path = lisa-engine
	url = https://github.com/DynartInteractive/docs-lisa-engine.git
	branch = main
