[submodule "coolfox-engine"]
    path = coolfox-engine
	url = git@github.com:DynartInteractive/docs-coolfox-engine.git
    branch = main

[submodule "legal"]
    path = legal
	url = git@github.com:DynartInteractive/docs-legal.git
    branch = main
[submodule "dos-game-engine"]
	path = dos-game-engine
	url = git@github.com:DynartInteractive/docs-dos-game-engine.git
